@import "utils";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
  margin-bottom: 3.75rem;

  &__nav {
    min-width: 10rem;

    @media screen and (max-width: $max-mobile-width) {
      min-width: auto;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    min-width: 10rem;

    @media screen and (max-width: $max-mobile-width) {
      display: none;
    }
  }

  &__phone {
    @media screen and (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &__link {
    @extend %nav-link;
    @include hover-focus(color, $color-active);
  }
}
