$color-bg: #000;
$color-main: #f7f5f9;
$color-active: #e50012;
$color-inactive: rgba(255, 255, 255, 0.3);

$max-width: 1920px;
$max-tablet-width: 1024px;
$max-mobile-width: 767px;
$offsetX: 60px;
$offsetX-mobile: 16px;
$size-icon: 28px;
